header {
    text-align: center;
    background : rgb(80, 7, 80);
    
}
h1 {
    color: rgb(218, 188, 23);
}

h2 {
    color: rgb(218, 188, 23);
}

main {
    background-color: rgb(175, 174, 174);
}

body {
    background-image: url(/assignment/record.png);
    background-repeat: repeat;
    margin: 0;
    padding: 1em;
    }
